@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #6b7280; /* Gray color for the scrollbar handle */
  border-radius: 8px; /* Round the edges */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563; /* Darker color on hover */
}

::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* Light gray background for the track */
  border-radius: 8px; /* Round the edges */
}

html {
  transition: background-color 0.3s, color 0.3s;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
